description = "Foot Siter Partial"
[viewBag]
==
{##}
    </div>{# <- closing dangling .app__page tag#}

    {# {% partial 'offcanvas' %} #}
    {# {% partial 'cookiebar' %} #}

    <!-- Browsers with ES module support load this file. -->
    {# <script type="module" src="{{ 'assets/js/app.js.gz'|theme }}{{this.theme.dev=='1'?'?'~date().timestamp:''}}"></script> #}
    <script type="module" src="{{ 'assets/js/app.js'|theme }}"></script>

    <!-- Older browsers load this file (and module-supporting -->
    <!-- browsers know *not* to load this file). -->
    <script nomodule src="{{ 'assets/js/app--legacy.js'|theme }}"></script>
  </body>
</html>
