description = "Head Site Partial"

[viewBag]

[session]
security = "all"
==
function onStart() {
    // $user = $this->account->user();
    // {
    //     return Redirect::to('/login');
    // }
}
==
{##}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#f9f6ee">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Cytrac">
    <meta name="generator" content="Cytrac">
    
    <title>{{ this.page.title }} - Cytrac</title>

    <meta name="robots" content="noindex, nofollow">
    {# <meta name="robots" content="index, follow"> #}

    {% set meta_title = this.page.meta_title ? this.page.meta_title : this.page.title %}
    {# {% set meta_description = this.page.meta_description ? this.page.meta_description : 'meta.default_description'|_ %} #}
    {% set meta_description = this.page.meta_description %}
    {% set meta_image = this.page.meta_image ? this.page.meta_image|media : this.theme.default_meta_image|media %}


    <meta name="title" content="{{ meta_title }}">
    <meta name="description" content="{{ meta_description }}">

    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />

    <meta property="og:url" content="{{ url_current() }}" />
    <meta property="og:image" content="{{ meta_image }}" />

    <link rel="shortcut icon" href="{{ 'assets/img/webapp/favicon-32x32.png'|theme }}" type="image/png">
    <link rel="icon" href="{{ 'assets/img/webapp/favicon-32x32.png'|theme }}" type="image/png">

    <link rel="manifest" href="{{ 'assets/img/webapp/manifest.json'|theme }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/img/webapp/apple-touch-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/img/webapp/apple-touch-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/img/webapp/apple-touch-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/img/webapp/apple-touch-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/img/webapp/apple-touch-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/img/webapp/apple-touch-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/img/webapp/apple-touch-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/img/webapp/apple-touch-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ 'assets/img/webapp/apple-touch-icon-167x167.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/webapp/apple-touch-icon-180x180.png'|theme }}">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{{ 'assets/img/webapp/apple-touch-icon-1024x1024.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="{{ 'assets/img/webapp/apple-touch-startup-image-320x460.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="{{ 'assets/img/webapp/apple-touch-startup-image-640x920.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="{{ 'assets/img/webapp/apple-touch-startup-image-640x1096.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ 'assets/img/webapp/apple-touch-startup-image-750x1294.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="{{ 'assets/img/webapp/apple-touch-startup-image-1182x2208.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="{{ 'assets/img/webapp/apple-touch-startup-image-1242x2148.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="{{ 'assets/img/webapp/apple-touch-startup-image-748x1024.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="{{ 'assets/img/webapp/apple-touch-startup-image-1496x2048.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="{{ 'assets/img/webapp/apple-touch-startup-image-768x1004.png'|theme }}">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="{{ 'assets/img/webapp/apple-touch-startup-image-1536x2008.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/webapp/favicon-16x16.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/webapp/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="228x228" href="{{ 'assets/img/webapp/coast-228x228.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/img/webapp/manifest.json'|theme }}">
    <link rel="shortcut icon" href="{{ 'assets/img/webapp/favicon.ico'|theme }}">
    <link rel="yandex-tableau-widget" href="{{ 'assets/img/webapp/yandex-browser-manifest.json'|theme }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Cytrac">
    <meta name="application-name" content="Cytrac">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/webapp/mstile-144x144.png'|theme }}">
    <meta name="msapplication-config" content="{{ 'assets/img/webapp/browserconfig.xml'|theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
    
    {% styles %}

  </head>

  {% set modifier = page.viewBag.layout %} 

  <body class="app">
    {# <div class="app__background" data-parallax="-1000"></div> #}
    {% partial 'header' context='app' modifier=modifier %}
    <a href="/" class="app__logo title _before-tween" data-tweener="title">
      <span class="title__line title__line--1 title__line--logo">cytrac</span>
    </a>
    {% partial 'nav' context='app' modifier=modifier %}
    <div class="app__navicon app__navicon--{{modifier}} navicon" data-navicon>
      <i class="navicon__dot navicon__dot--1"></i>
      <i class="navicon__dot navicon__dot--2"></i>
      <i class="navicon__dot navicon__dot--3"></i>
    </div>
    <div class="app__page app__page--{{modifier}}">
      {# <div class="app__background" data-parallax="1000"></div> #}
