.modal {
  opacity: 0;
  transition: opacity 200ms var(--e), height 1ms linear 999s;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 9rem 2rem;
  align-items: center;
  display: none;

  @include min768 {
    flex-wrap: wrap;
    margin: auto;
  }

  &.is-entering {
    display: block;

    @include min768 {
      display: flex;
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: all;
    display: block;

    @include min768 {
      display: flex;
    }
  }

  &.is-leaving {
    opacity: 0;
  }

  &__backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__dialog {
    position: relative;
    margin: auto;
    z-index: 2;
    width: 100%;
    border: solid 2px #fff;
    background-color: #000;
    height: auto;
    display: block;
    max-width: 62.8rem;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 0;
    right: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 3rem;
      height: 2px;
      background-color: #fff;
      right: 2rem;
      top: 3.4rem;
      z-index: 1;
      transition: transform 400ms var(--e);
      transform-origin: 50% 50%;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    @include hover {
      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(135deg);
      }
    }
  }
}
