description = "Cookiebar Partial"

==
{##}
<div class="app__cookiebar cookiebar" data-cookiebar>
  <div class="cookiebar__container container">
    <div class="cookiebar__content">
      {# <div class="cookiebar__text">{{'cookiebar.text'|_}}&nbsp;<a href="{{'cookiebar.link_href'|_}}">{{'cookiebar.link_label'|_}}</a></div> #}
      <div class="cookiebar__text">{{cookiebar_text}}&nbsp;<a href="{{cookiebar_link_href}}">{{cookiebar_link_label}}</a></div>
      <div class="cookiebar__actions">
        <div class="cookiebar__action btn" data-cookiebar-accept>
          <span class="btn__text">{{cookiebar_accept}}</span>
          {# <span class="btn__text">{{'cookiebar.accept'|_}}</span> #}
        </div>
      </div>
    </div>
  </div>
</div>