description = "Footer Partial"

[viewBag]
==
<?php
function onStart() {
  use \RainLab\Pages\Classes\Page;
  $ui_page = Page::loadCached($this->theme, 'ui.htm')
    ? Page::loadCached($this->theme, 'ui.htm')
    : Page::load($this->theme, 'ui.htm');
  if (!$ui_page) return;
  $this['ui'] = $ui_page->viewBag;
}
?>
==
{##}
{% set modifier = page.viewBag.layout %}
<footer class="app__footer app__footer--{{modifier}} footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__title title _before-tween" data-tweener="title">
        <span class="title__line title__line--1">{{ui.footer_subtitle}}</span>
      </div>
      <div class="footer__contacts outliner" data-tweener="outliner" data-tweener-suspend="600">
        <a class="footer__contact outliner__line" href="mailto:{{ui.email}}">{{ui.email}}</a>
        <a class="footer__contact outliner__line" href="tel:{{ui.phone}}">{{ui.phone}}</a>
      </div>
    </div>
    <div class="footer__bottom">
      <a href="/{{ui.privacy_page}}" class="footer__copyright">{{ui.copyright}}</a>
    </div>
  </div>
</footer>

<div class="app__background">
  <div class="app__parallax" data-rellax-speed="-10" style="background-image:url('{{ui.background|media}}')"></div>
</div>
