description = "Header"
[viewBag]
==
{##}
<i class="app__observer" data-header-observer>
  <header class="{{context}}__header {{context}}__header--{{modifier}} header header--{{modifier}}" data-header>
  </header>
</i>