description = "Languages partial"

[viewBag]
==
{##}
<div class="{{context}}__languages languages">
  <div class="languages__current">{{localePicker.activeLocale}}</div>
  <ul class="languages__list">
    {% for code, name in localePicker.locales %}
      <li class="languages__item{{localePicker.activeLocale == code ? ' is-active' : ''}}">
        {# <a href="/{{code == 'lt' ? '' : code}}" #}
        <a href="/{{code}}"
          class="languages__trigger{{localePicker.activeLocale == code ? ' is-active' : ''}}">
          {{ code }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>