description = "Nav"

[viewBag]

[staticMenu]
code = "main-menu"
==
{##}
<nav class="{{context}}__nav nav" data-nav>
  <ul class="nav__list">
    {% for item in staticMenu.menuItems %}
      <li class="_before-tween nav__item{{item.isActive ? ' is-active' : ''}}" data-tweener="nav" data-tweener-suspend="150">
        {% if item.viewBag.isExternal == "1" %}
          <a href="{{item.url}}" target="_blank" rel="noopener" class="nav__trigger">{{item.title}}</a>
        {% else %}
          <a href="{{item.url}}" class="nav__trigger{{item.isActive ? ' is-active' : ''}}">{{item.title}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>