description = "Offcanvas Partial"

==
{##}
<div class="app__offcanvas offcanvas">
  <div class="offcanvas__wrapper">
    <nav class="offcanvas__nav nav">
        {% partial 'nav' %}
      </ul>
    </nav>
    <div class="offcanvas__languages languages">
      {% partial 'languages' %}
    </div>
  </div>
  <i class="offcanvas__overlay"></i>
</div>