:root {
  --primaryColor: #3176b4;
  --primaryActive: #0007c5;
  --primaryFont: 'Roboto Mono', Arial, sans-serif;
  --red: #ff0000;
  --greyLight: #a6a6a6;
  --grey: #807e80;
  --greyDark: #2a2c31;
}
