@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Thin.eot');
    src: url('RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Thin.woff2') format('woff2'),
        url('RobotoMono-Thin.woff') format('woff'),
        url('RobotoMono-Thin.ttf') format('truetype'),
        url('RobotoMono-Thin.svg#RobotoMono-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-MediumItalic.eot');
    src: url('RobotoMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-MediumItalic.woff2') format('woff2'),
        url('RobotoMono-MediumItalic.woff') format('woff'),
        url('RobotoMono-MediumItalic.ttf') format('truetype'),
        url('RobotoMono-MediumItalic.svg#RobotoMono-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.eot');
    src: url('RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Regular.woff2') format('woff2'),
        url('RobotoMono-Regular.woff') format('woff'),
        url('RobotoMono-Regular.ttf') format('truetype'),
        url('RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Light.eot');
    src: url('RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Light.woff2') format('woff2'),
        url('RobotoMono-Light.woff') format('woff'),
        url('RobotoMono-Light.ttf') format('truetype'),
        url('RobotoMono-Light.svg#RobotoMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Medium.eot');
    src: url('RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Medium.woff2') format('woff2'),
        url('RobotoMono-Medium.woff') format('woff'),
        url('RobotoMono-Medium.ttf') format('truetype'),
        url('RobotoMono-Medium.svg#RobotoMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-ThinItalic.eot');
    src: url('RobotoMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-ThinItalic.woff2') format('woff2'),
        url('RobotoMono-ThinItalic.woff') format('woff'),
        url('RobotoMono-ThinItalic.ttf') format('truetype'),
        url('RobotoMono-ThinItalic.svg#RobotoMono-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Bold.eot');
    src: url('RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Bold.woff2') format('woff2'),
        url('RobotoMono-Bold.woff') format('woff'),
        url('RobotoMono-Bold.ttf') format('truetype'),
        url('RobotoMono-Bold.svg#RobotoMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-LightItalic.eot');
    src: url('RobotoMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-LightItalic.woff2') format('woff2'),
        url('RobotoMono-LightItalic.woff') format('woff'),
        url('RobotoMono-LightItalic.ttf') format('truetype'),
        url('RobotoMono-LightItalic.svg#RobotoMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Italic.eot');
    src: url('RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-Italic.woff2') format('woff2'),
        url('RobotoMono-Italic.woff') format('woff'),
        url('RobotoMono-Italic.ttf') format('truetype'),
        url('RobotoMono-Italic.svg#RobotoMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-BoldItalic.eot');
    src: url('RobotoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoMono-BoldItalic.woff2') format('woff2'),
        url('RobotoMono-BoldItalic.woff') format('woff'),
        url('RobotoMono-BoldItalic.ttf') format('truetype'),
        url('RobotoMono-BoldItalic.svg#RobotoMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

