description = "Index Layout"

[staticPage]
useContent = 0
default = 0
==
{##}

{% partial 'site/head' %}

<main class="app__index index">

  {% if hero_show == 1 %}
    <section class="index__section index__section--hero">
      <div class="index__hero hero">
        <div class="hero__container container">

          <h1 class="hero__title outliner _before-tween" data-tweener="outliner" data-tweener-suspend="0">
            {% for line in hero_title %}
              <span class="outliner__line{{line.is_blue ? ' outliner__line--blue' : ''}}">{{line.line}}</span>
            {% endfor %}
          </h1>
          
          <div class="hero__content">

            <i class="hero__plane plane _before-tween" data-tweener="plane" data-tweener-suspend="500"></i>

            {% for section in hero_text %}
              <div class="hero__text{{section.is_blue ? ' hero__text--blue' : ''}} _before-tween"
                data-tweener="text"
                data-tweener-suspend="{{loop.index == loop.length ? 0 : 150}}"
                >
                {{section.section|raw}}
              </div>
            {% endfor %}
          </div>

          <div class="hero__scrollto _before-tween" data-tweener="scrollto" data-scrollto-trigger="[data-scrollto]">{{ source('../assets/img/scrollto.svg') }}</div>

        </div>
      </div>
    </section>
  {% endif %}

  {% if services_show == 1 %}
    <section class="index__section index__section--services" data-scrollto="services">
      <div class="index__services services">
        <div class="services__container container">

          <div class="services__top services__top--index">
            <h2 class="services__title services__title--index title _before-tween" data-tweener="title">
              <span class="title__line title__line--1">{{services_title}}<span>
            </h2>
          </div>
          
          <div class="services__blocks">
            {% for service in services_items  %}
              <section class="services__block services__block--{{loop.index}} _before-tween" data-tweener="service">
                <div class="services__service services__service--index">
                  <div class="service__visual service__visual--index">
                    <i class="service__plane service__plane--index plane" data-tweener-plane></i>
                      {% if service.icon %}
                        <div class="service__media service__media--{{service.align}} media" data-tweener-media="{{service.align}}">
                          <picture>
                            <img class="media__image" loading="lazy" src="{{service.icon|media}}"
                              title="{{service.subtitle}}" alt="{{service.subtitle}}" />
                          </picture>
                        </div>
                      {% endif %}
                    <i class="service__icon service__icon--index service__icon--{{service.position}}" data-tweener-icon></i>
                  </div>

                  <div class="service__content service__content--index">
                    <div class="service__subtitle service__subtitle--index" data-tweener-subtitle>{{service.subtitle}}</div>
                    <div class="service__intro service__intro--index" data-tweener-intro>{{service.intro}}</div>
                  </div>

                </div>
              </section>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>
  {% endif %}
  
  {% if factors_show == 1 %}  
    <section class="index__section index__section--success">

      <i class="success__plane plane _before-tween" data-tweener="plane" data-tweener-suspend="1000"></i>

      <div class="success__container container">

        <div class="index__success success">

          <div class="success__top success__top--index">
            <h3 class="success__title success__title--index title _before-tween" data-parallax="-100" data-tweener="title">
              {% for line in factors_title %}
                <span class="title__line title__line--success title__line--{{loop.index}}">{{line.line}}</span>
              {% endfor %}
            </h3>
          </div>
          
          <div class="success__items">
            {% for block in factors_items  %}
              <div class="success__item success__item--{{2 - loop.index % 2}} _before-tween" data-tweener="success">
                <div class="success__subtitle" data-tweener-subtitle>{{block.subtitle}}</div>
                <div class="success__description" data-tweener-description>{{block.description|raw}}</div>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>

    </section>
  {% endif %}  

</main>

{% partial 'footer' %}

{% partial 'site/foot' %}
