.outliner {
  font-weight: 700;
  display: block;
  position: relative;
  &__line {
    display: block;
    -webkit-text-stroke: 1px #fff;
    // -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__fill {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // height: 100%;
    height: 103%;
    overflow: hidden;
    z-index: 2;
    .outliner {
      &__line {
        // -webkit-text-fill-color: #fff;
        color: #fff;
        &--blue {
          // -webkit-text-fill-color: var(--primaryColor);
          color: var(--primaryColor);
          -webkit-text-stroke: 1px var(--primaryColor);
        }
      }
    }
  }

  // &.before-tween {
  //   .outliner {
  //     &__fill {
  //       opacity: 0;
  //     }
  //   }
  // }
}
